* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@font-face {
  font-family: "HankenGrotesk", sans-serif;
  src: url("assets/fonts/HankenGrotesk-VariableFont_wght.ttf");
}

body {
  @include flex;
  min-height: 100vh;
  font-family: "HankenGrotesk", sans-serif;
  line-height: 1.3;
  font-size: 1rem;
  background: #ecf2ff;
}

.container {
  margin: 0 auto;
  max-width: 315px;
}

section {
  max-width: 375px;
  background: #ffffff;
  border-radius: 2rem;
}

.score {
  background-image: linear-gradient(
    to bottom,
    rgb(119, 85, 255),
    rgb(47, 44, 233)
  );
  padding: 2rem 3.56rem;
  color: white;

  width: 100%;

  @include flex;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;

  &__title {
    font-size: 2rem;
  }

  &__of {
    color: #cac9ff;
    font-weight: bold;
  }

  &__result {
    font-weight: bold;
    font-size: 1.125rem;
  }

  &__score {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin-top: 1.5rem;
    @include flex;
    background-image: linear-gradient(
      to bottom,
      rgb(47, 44, 233),
      rgb(119, 85, 255)
    );
  }

  &__great {
    font-size: 1.5rem;
    margin-top: 1.5rem;
  }

  &__description {
    color: #cac9ff;
    max-width: 260px;
    text-align: center;
  }
}

.score__description {
  margin-top: 0.5rem;
}

.content {
  padding: 24px 30px;

  &__title {
    color: #303b59;
    font-weight: bold;
    font-size: 1.125rem;
  }

  &__list {
    @include flex;
    gap: 1rem;
    width: 100%;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
    border-radius: 12px;
  }

  &__info {
    @include flex;
    flex-direction: row;
    gap: 1rem;
    font-size: 1.125rem;

    & img {
      width: 20px;
      height: 20px;
    }
  }

  &__score {
    font-weight: bold;
    color: #303b59;
  }

  &__span {
    color: rgba(48, 59, 89, 0.5);
  }

  &__btn {
    width: 100%;
    padding: 1rem;
    border-radius: 50px;
    border-color: transparent;
    outline: transparent;
    cursor: pointer;
    background-color: #303b59;
    color: white;
    font-size: 1.125rem;
    font-weight: bold;
  }
}

.content > *:not(:first-child) {
  margin-top: 1.5rem;
}

@media screen and (min-width: 768px) {
  section {
    max-width: 686px;
  }
  .wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .score {
    border-radius: 2rem;

    &__result {
      font-size: 1.5rem;
    }

    &__score {
      width: 200px;
      height: 200px;
    }

    &__title {
      font-size: 4.5rem;
    }

    &__great {
      font-size: 2rem;
    }

    &__description {
      max-width: 200px;
      text-align: center;
    }
  }

  .content {
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    padding: 45px 40px;

    &__title {
      font-size: 1.5rem;
    }
  }
}

@media screen and (min-width: 1200px) {
  section {
    max-width: 736px;
  }

  .score {
    &__description {
      max-width: 260px;
      text-align: center;
    }
  }
}
